
<ion-content [fullscreen]="true" class="content">
      
        <div id="take" class="ion-align-items-center">
         <ion-button id="takesurvey" class="ion-text-wrap" style="max-width: 75%;" [routerLink]="'/second-screen'">
           Fill out Survey
         </ion-button>
        </div>
     
        <div id="fill" class="ion-align-items-center">
          <ion-button id="Results" color="secondary" class="ion-text-wrap" style="max-width: 75%;" [routerLink]="'/third-screen'">
            View Survey Results
          </ion-button>
         </div>
        
</ion-content>
